{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar</title>
</head>

<body>
    <h1>BAZAR</h1>

    {% if request.user.is_authenticated %}

        <p>Bem vindo(a), {{ client.nome }} </p>

        <form action="{% url 'bazar:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
        
    {% else %}

        <form action="{% url 'bazar:login' %}" method="get">
            <button type="submit" >Entrar</button>
        </form>

        <form action="{% url 'bazar:cadastro' %}" method="get">
            <button type="submit" >Criar Conta</button>
        </form>

    {% endif %}

    
</body>


</html>