<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'bazar:login' %}" method="post">
        {% csrf_token %}

        <label for="input-nome">Login</label>
        <input id="input-nome" type="text" name="login" >
        
        <label for="input-senha">Senha</label>
        <input id="input-senha" type="password" name="senha" >

        <button type="submit" >Entrar</button>
    </form>
</body>
</html>